body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* loading */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* loading-end */

/* form */

body,
html {
  background-color: #ebecf0;
}

body,
p,
input,
select,
textarea,
button {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
}

div,
p {
  text-shadow: 1px 1px 1px #fff;
}

form {
  padding: 16px;
  width: 320px;
  margin: 0 auto;
}

.segment {
  padding: 32px 0;
  text-align: center;
  color: #babecc;
}

button,
.neomorph input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
}

label {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}

.neomorph input {
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
.neomorph input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

button {
  font-weight: bold;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  display: block;
  width: 100%;
  color: #00e0b0;
}
button:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
button:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
button .icon {
  margin-right: 8px;
}
button.unit {
  border-radius: 8px;
  line-height: 0;
  width: 48px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  font-size: 19.2px;
}
button.unit .icon {
  margin-right: 0;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input-group label {
  margin: 0;
  flex: 1;
}

/* form-end */

.given-answer {
  display: inline-block;
}

/* true/false */
.icon-correct {
  color: green;
}
.icon-incorrect {
  color: red;
}

.answer-text {
  opacity: 0;
  text-shadow: none;
}
.answer-text.show {
  opacity: 1;
}

.answer-circle.show {
  background-color: white;
}
.unit.minus {
  color: red;
}

.logout-btn {
  position: fixed;
  top: 4%;
  right: 4%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: salmon;
  display: flex;
  justify-content: center;
  justify-items: center;
}

@media only screen and (min-width: 1000px) {
  .box {
    background-color: #f19925;
    width: 700px;
    height: 700px;
    border-radius: 10%;
    margin: 5% auto;
    position: relative;
    border: 3px solid black;
  }
  .oval {
    background-color: white;
    border: 1px solid black;
    padding: 130px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 120px;
    left: 120px;
  }
  .question {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .option {
    color: black;
    background-color: white;
    /* border: 1px solid black; */
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    left: 310px;
    top: 310px;
  }
  .answer-circle {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    left: 300px;
    top: 300px;
    cursor: pointer;
  }

  .line {
    width: 1px;
    height: 135px;
    background-color: black;
    position: absolute;
    z-index: 0;
  }

  .line-1 {
    left: 349px;
    top: 120px;
  }

  .line-2 {
    left: 443px;
    top: 150px;
    transform: rotate(36deg);
  }

  .line-3 {
    left: 505px;
    top: 231px;
    transform: rotate(72deg);
  }
  .line-4 {
    left: 505px;
    top: 334px;
    transform: rotate(108deg);
  }
  .line-5 {
    left: 443px;
    top: 417px;
    transform: rotate(144deg);
  }

  .line-6 {
    left: 349px;
    top: 446px;
  }

  .line-7 {
    left: 257px;
    top: 417px;
    transform: rotate(216deg);
  }

  .line-8 {
    left: 195px;
    top: 334px;
    transform: rotate(254deg);
  }

  .line-9 {
    left: 196px;
    top: 232px;

    transform: rotate(290deg);
  }

  .line-10 {
    left: 257px;
    top: 150px;
    transform: rotate(324deg);
  }

  .icon {
    font-size: 4rem;
  }

  /* color */
  .color {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .players {
    position: fixed;
    top: 5%;
    left: 2%;
  }
  .player {
    text-align: center;
    margin-bottom: 30px;
  }
  .player h3 {
    margin-bottom: 5px;
    font-weight: lighter;
  }
  .player-score {
    padding-bottom: 15px;
    font-weight: bold;
  }

  .next-question {
    position: fixed;
    top: 45%;
    right: 2%;
    width: 100px;
    height: 100px;
    color: black;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .openPoints {
    display: none;
  }
}

@media only screen and (max-width: 999px) {
  .flexbox {
    /* background-color: #aaa; */
    /* width: 300px; */
    margin: 50px 20px 0 20px;
    overflow: hidden;
    text-align: center;
  }

  .question {
    color: #babecc;
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0 30px 0;
  }

  .option {
    border-top: 1px solid #222;
    width: 280px;
    margin: 0 auto;
    padding: 20px 0 0 0;
    font-size: 1.2rem;
    transform: none !important;
    font-weight: bolder;
  }
  .answer-circle {
    transform: none !important;
    background-color: black;
    border-radius: 20px;
    margin: 20px auto 30px auto;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .answer-circle.show {
    background-color: white;
    border: 1px solid black;
  }
  .next-question {
    width: 280px;
    margin: 50px auto;
  }
  .openPoints {
    position: fixed;
    right: 3%;
    bottom: 2%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: springgreen;
    filter: drop-shadow(0 0 30px #333);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .players {
    display: none;
  }
  .players.show {
    display: block;
    position: fixed;
    width: 80%;
    height: 90vh;
    left: 10%;
    top: 5%;
    background-color: #ebecf0;
    box-shadow: 0 0 80px 10px black;
    text-align: center;
    font-size: 0.8rem;
    z-index: 0;
  }
  .unit {
    /* important kvoli vonkajsku @media */
    width: 30px !important;
    height: 30px !important;
  }
}
